@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200;500&display=swap');
:root {
    --brown: #493A1C;
    --coral: #FF806C;
    --teal: rgb(48, 162, 228);
    --lightblue: #BDF6E9;
    --green: #78C29E;
  }
.wrapper {
    width: 100%;
    background: linear-gradient(20deg, rgb(255, 255, 255) 30%, rgb(48, 162, 228) 150%);
}
.cardHeader {
    background-color: var(--coral);
    font-family: 'Trispace', sans-serif;
    box-shadow: var(--teal) 0px -2px 15px;
}
.footer {
    margin-top: 40px;
    border-top: 1px solid var(--brown);
    padding: 30px;

}
.googleFont {
    font-family: 'Trispace', sans-serif !important;
    font-weight: 500 !important;
    color: var(--brown);
}
.googleFont2 {
    font-family: 'Trispace', sans-serif !important;
    font-weight: 200 !important;
    color: var(--brown);
    opacity: 60%;
}
.card {
    box-shadow: -3px 5px 10px var(--teal) !important;
    
}
